<!DOCTYPE html>
<html lang="">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/remixicon.css" />
        <link rel="stylesheet" href="css/intlTelInput.css" />
        <link rel="stylesheet" href="css/side-menu.css" />
        <link rel="stylesheet" href="css/css-pro-layout.css" />
        <link rel="stylesheet" href="css/style.css" />
    </head>

    <body>
        <div class="layout has-sidebar fixed-sidebar fixed-header">
            <aside id="sidebar" class="sidebar break-point-lg has-bg-image">
                <!-- <div class="image-wrapper">
        <img src="https://user-images.githubusercontent.com/25878302/144499035-2911184c-76d3-4611-86e7-bc4e8ff84ff5.jpg" alt="sidebar background" />
      </div> -->
                <div class="sidebar-layout">
                    <div class="sidebar-header">
                        <span style="
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: 3px;
                font-weight: bold;
              "><img src="images/logo1.png" class="w-100" />
                        </span>
                    </div>
                    <div class="sidebar-content">
                        <div class="ul-box mb-3">
                            <ul class="row">
                                <li>
                                    <a href="#"><span class="w-100"><img src="images/mi_user.png" /> <br />User
                                            Management</span></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="w-100"><img src="images/customer.png" /> <br />
                                            Customer</span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="w-100"><img src="images/order-approve-outline-sharp.png" />
                                            <br />
                                            Customer</span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="w-100"><img src="images/ic_round-inventory.png" /><br />
                                            Customer</span></a>
                                </li>
                            </ul>
                        </div>
                        <nav class="menu open-current-submenu">
                            <ul>
                                <!-- sub-menu -->
                                <li class="menu-item sub-menu">
                                    <a href="#">
                                        <span class="menu-icon">
                                            <i class="ri-focus-2-fill"></i>
                                        </span>
                                        <span class="menu-title">Printing Vendor</span>
                                    </a>
                                    <div class="sub-menu-list">
                                        <ul>
                                            <li class="menu-item">
                                                <a href="#">
                                                    <span class="menu-title">Grid</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">
                                                    <span class="menu-title">Layout</span>
                                                </a>
                                            </li>
                                            <li class="menu-item sub-menu">
                                                <a href="#">
                                                    <span class="menu-title">Forms</span>
                                                </a>
                                                <div class="sub-menu-list">
                                                    <ul>
                                                        <li class="menu-item">
                                                            <a href="#">
                                                                <span class="menu-title">Input</span>
                                                            </a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="#">
                                                                <span class="menu-title">Select</span>
                                                            </a>
                                                        </li>
                                                        <li class="menu-item sub-menu">
                                                            <a href="#">
                                                                <span class="menu-title">More</span>
                                                            </a>
                                                            <div class="sub-menu-list">
                                                                <ul>
                                                                    <li class="menu-item">
                                                                        <a href="#">
                                                                            <span class="menu-title">CheckBox</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="menu-item">
                                                                        <a href="#">
                                                                            <span class="menu-title">Radio</span>
                                                                        </a>
                                                                    </li>
                                                                    <li class="menu-item sub-menu">
                                                                        <a href="#">
                                                                            <span class="menu-title">Want more ?</span>
                                                                            <span class="menu-suffix">&#x1F914;</span>
                                                                        </a>
                                                                        <div class="sub-menu-list">
                                                                            <ul>
                                                                                <li class="menu-item">
                                                                                    <a href="#">
                                                                                        <span
                                                                                            class="menu-prefix">&#127881;</span>
                                                                                        <span class="menu-title">You
                                                                                            made it
                                                                                        </span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="menu-icon">
                                            <i class="ri-layout-3-fill"></i>
                                        </span>
                                        <span class="menu-title">Printing Plate Vendor</span>
                                    </a>
                                    <!-- <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Pie chart</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Line chart</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Bar chart</span>
                      </a>
                    </li>
                  </ul>
                </div> -->
                                </li>
                                <li class="menu-item">
                                    <a href="loi-timeline.html">
                                        <span class="menu-icon">
                                            <i class="ri-pie-chart-2-fill"></i>
                                        </span>
                                        <span class="menu-title">Paper Vendor</span>
                                    </a>
                                    <!-- <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Products</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Orders</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">credit card</span>
                      </a>
                    </li>
                  </ul>
                </div> -->
                                </li>
                                <li class="menu-item">
                                    <a href="records.html">
                                        <span class="menu-icon">
                                            <i class="ri-global-fill"></i>
                                        </span>
                                        <span class="menu-title">Books Database</span>
                                    </a>
                                    <!-- <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Google maps</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Open street map</span>
                      </a>
                    </li>
                  </ul>
                </div> -->
                                </li>
                                <li class="menu-item">
                                    <a href="upload-bills.html">
                                        <span class="menu-icon">
                                            <i class="ri-file-list-3-fill"></i>
                                        </span>
                                        <span class="menu-title">Settings</span>
                                    </a>
                                    <!-- <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Dark</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Light</span>
                      </a>
                    </li>
                  </ul>
                </div> -->
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- <div class="sidebar-footer"><span>Sidebar footer</span></div> -->
                </div>
            </aside>
            <div id="overlay" class="overlay"></div>
            <div class="layout">
                <header class="header">
                    <a id="btn-collapse" class="header-bar" href="#">
                        <!-- <i class="ri-bar-chart-horizontal-line"></i> -->
                    </a>
                    <a id="btn-toggle" href="#" class="sidebar-toggler break-point-lg">
                        <i class="ri-bar-chart-horizontal-line"></i>
                    </a>
                    <div class="dropdown navbar-nav-right profile-img-text">
                        <a class="dropdown-toggle align-items-center" class="btn btn-secondary dropdown-toggle"
                            type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-flex">
                                <span><img class="img-xs rounded-circle" src="images/face15.jpg" alt="" /></span>
                                <span class="profile-text ms-2">
                                    <b>Welcome to<br /></b> Henry Klein</span>
                            </span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </header>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#"><i class="ri-home-4-line"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#" class="d-flex align-items-center">Welcome Back, Admin</a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <main class="content">
                    <div class="page-name">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-md-6">
                                <h2><i class="ri-arrow-left-line"></i> Select Printing Vendor for Cover Page</h2>
                            </div>

                        </div>
                    </div>
                    <div class="card add-new-location mt-2">
                        <div class="card-body">

                            <div class=" detailsBox ">
                                <div class="col-auto">
                                    <div class="heading">
                                        Book Size
                                    </div>
                                    <div class="content">
                                        A4
                                    </div>

                                </div>
                                <div class="col-auto">
                                    <div class="heading">
                                        No. of Pages
                                    </div>
                                    <div class="content">
                                        A4
                                    </div>

                                </div>
                                <div class="col-auto">
                                    <div class="heading">
                                        No. of Copy
                                    </div>
                                    <div class="content">
                                        A4
                                    </div>

                                </div>
                                <div class="col-auto">
                                    <div class="heading">
                                        Paper Type
                                    </div>
                                    <div class="content">
                                        A4
                                    </div>

                                </div>
                                <div class="col-auto">
                                    <div class="heading">
                                        Cover Type
                                    </div>
                                    <div class="content">
                                        A4
                                    </div>

                                </div>
                                <div class="col-auto">
                                    <div class="heading">
                                        Cover Size
                                    </div>
                                    <div class="content">
                                        A4
                                    </div>

                                </div>
                                <div class="col-auto">
                                    <div class="heading">
                                        Paper Size
                                    </div>
                                    <div class="content">
                                        A4
                                    </div>

                                </div>
                                <div class="col-auto">
                                    <div class="heading">
                                        Color Type
                                    </div>
                                    <div class="content">
                                        A4
                                    </div>

                                </div>
                                <div class="col-auto">
                                    <div class="heading">
                                        Net Paper Required
                                    </div>
                                    <div class="content">
                                        A4
                                    </div>

                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Select Vendor :</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Paper In Stock :</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Paper Required:</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Paper Left In Stock :</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="text-end">
                                        <button type="submit" class="btn grey-primary">Cancle</button>
                                        <button type="submit" class="btn black-btn">Save & Continue</button>
                                    </div>
                                </div>



                            </div>











                        </div>
                    </div>
                </main>





            </div>
        </div>



    </body>
    <script src="js/jquery-3.6.3.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/side-menu.js"></script>
    <script src="js/intlTelInput-jquery.min.js"></script>
    <!-- <script src="js/off-canvas.js"></script> -->

    <script>
        $("#mobile_code-1").intlTelInput({
            initialCountry: "in",
            separateDialCode: true,
            // utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.4/js/utils.js"
        });
        $("#mobile_code-2").intlTelInput({
            initialCountry: "in",
            separateDialCode: true,
            // utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.4/js/utils.js"
        });
        $("#mobile_code-3").intlTelInput({
            initialCountry: "in",
            separateDialCode: true,
            // utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.4/js/utils.js"
        });
        $("#mobile_code-4").intlTelInput({
            initialCountry: "in",
            separateDialCode: true,
            // utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.4/js/utils.js"
        });
    </script>

</html>